<div class="container" id="main-upload">
  <%= content_tag :div, :id=>"main-form-upload", :class=>"row" do %>
    <%= content_tag :div, :id=>"attributes-upload", :class=>"col-xs-12 col-sm-12 col-md-8 col-md-push-2 col-lg-6 col-lg-push-3" do %>

      <span id="title-upload">Upload a script</span>
      <p id="upload_notice"><%= notice %></p>
      <%= form_tag({:action => "uploadFile"},
        :multipart => true, :class => "form-group") do %>

        <%= content_tag :div, :class=>"form-group" do %>
             <%= label_tag("Select a Script File") %>
          </br>
          <%= file_field "upload", "data", :class => "btn btn-small btn-primary btn-inverse" %>
        <% end %>

        <%= content_tag :div, :class=>"form-group" do %>
             <%= label_tag("Select a Venue") %>
          </br>
          <%= select_tag "venue", options_from_collection_for_select(@venues, "id", "name"), :class=>"form-control" %>
        <% end %>

        <%= content_tag :div, :class=>"form-group" do %>
             <%= label_tag("Select a Work") %>
          </br>
          <%= select_tag "work", options_from_collection_for_select(Work.where.not(uploading: true).order(:work_name), "id", "name" ), :class=>"form-control" %>
        <% end %>

        <%= content_tag :div, :class=>"form-group" do %>
             <%= label_tag("Select Characters Per Line to Display") %>
          </br>
          <%= select_tag "characters_per_line", options_for_select(20..50, 32) , :class=>"form-control" %>
        <% end %>

        <%= content_tag :div, :class=>"form-group" do %>
             <%= label_tag("Select Script Split Style") %>
          </br>
          <%= select_tag "split_type", options_for_select({"Split on Sentences" => "S_sentences", "Split on Characters Only" => "S_characters"}, "S_characters") , :class=>"form-control" %>
        <% end %>

        <%= button_tag "Upload", :type=>"submit", :id => "submit_upload", :class => "btn btn-primary" %>
      <% end %>

      <div id="delete-script">
        <h2 class="form-title">Click a title below to <b class="delete_item">DELETE</b> it</h2>
        <ul>
        <% @delete_work.each do |work| %>
          <% if work.texts.present? and work.uploading != true %>
            <li>
              <%= link_to work_details(work), works_deleteScript_path(work_id: work.id), data: { confirm: "ARE YOU SURE YOU WANT TO DELETE THIS SCRIPT?"}, class: 'btn btn-danger' %>
            </li>
          <% end %>
        <% end %>
        </ul>
      </div>

    <% end %>
  <% end %>
</div>
