  <h1>Select the script to edit</h1>
  <!--**********************************************
  creates the form for selecting the play to edit.
  *****************************************************-->
  <% if @works.blank? %>
   <p>No works to display.</p>
  <% else %>
    <ul id="works">
      <% @works.each do |work| %>
        <li>
          <!--if there is a work, create a form for the editor to submit-->
          <% if work.texts.present? %>
              <%= form_tag({:action => "select"}, :multipart => true, :class => "form-group") do%>
                <%= hidden_field_tag :work, work.id%>
                <%= hidden_field_tag :view , "multi"%>
                <%= work_details(work) %><br><%=work.id%>
                <%= label_tag("Enter Editor Name") %>
                <%= text_field(:operator, :name, size: 20, :class=>"form-control editwork-textbox") %>
              <%= button_tag "Continue", :type=>"submit", :class => "btn btn-primary" %>
            <% end %>
          
          <% else %>
            <%= work_details(work) %>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
