<body id="body-index-upload" class="body-upload">

<%= javascript_include_tag "jquery.fileupload-ui" %>

<div class="container" id="main-upload">
	<%= content_tag :div, :id=>"main-form-upload", :class=>"row" do %>
		<%= content_tag :div, :id=>"attributes-upload", :class=>"col-xs-12 col-sm-6 col-md-4" do %>

			<h1 class="title-upload">Select The Work</h1>

			<%= form_tag({:action => "select"},
			  :multipart => true, :class => "form-group") do %>

				<%= content_tag :div, :class=>"form-group" do %>
				   	<%= label_tag("Select a Work") %>
					</br>
					<%= select_tag "work", options_from_collection_for_select(Work.order(:work_name), "id", "name" ), :class=>"form-control" %>
				<% end %>
				</br>
				<%= button_tag "Continue", :type=>"submit", :class => "btn btn-primary" %>
			<% end %>

		<% end %>
	<% end %>
</div>

</body>