	<div class="container" id="main-upload">

		<%= content_tag :div, :id=>"main-form-upload", :class=>"row" do %>
			<%= content_tag :div, :id=>"attributes-upload", :class=>"col-xs-12 col-sm-6 col-md-4" do %>

				<h1 class="title-upload">Select An Existing Session</h1>

				<%= form_tag({:action => "select"},
					:multipart => true, :class => "form-group") do %>

					<% @operators.each do |operator| %>
						<% work = Work.find_by(id: operator.work_id) %>
						<% venue = work.venue %>
						<%= radio_button_tag(:selected_operator, operator.id) %>
						<%= label_tag("#{operator.name}:  #{work.name}") %>
						</br>
					<% end %>
		 			</br>
				  <h2 class="title-upload">Reloading a session will reset it's position</h2>
				  </br>
					<%= button_tag "Continue", :type=>"submit", :class => "btn btn-primary" %>
				<% end %>
			<% end %>
		<% end %>

		<%= content_tag :div, :id=>"main-form-upload", :class=>"row" do %>
			<%= content_tag :div, :id=>"attributes-upload", :class=>"col-xs-12 col-sm-6 col-md-4" do %>

				<h1 class="title-upload">Make A New Session</h1>

				<%= form_tag({:action => "select"},
			  	:multipart => true, :class => "form-group") do %>

					<%= content_tag :div, :class=>"form-group" do %>
				  	<%= label_tag("Select a Work") %>
						</br>
						<%= select_tag "work", options_from_collection_for_select(Work.order(:work_name), "id", "name" ), :class=>"form-control" %>
					<% end %>
					</br>
					<%= content_tag :div, :class=>"form-group" do %>
						<%= label_tag("Select a view style") %>
				  	</br>
						<%= select_tag "view", "<option>multi</option><option>single</option>".html_safe, :class=>"form-control" %>
					<% end %>
					</br>
					<%= content_tag :div, :class=>"form-group" do %>
						<%= label_tag("Enter Your Name") %>
						</br>
						<%= text_field(:operator, :name, size: 20, :class=>"form-control") %>
					<% end %>
			  	</br>
					<%= button_tag "Continue", :type=>"submit", :class => "btn btn-primary" %>
				<% end %>
			<% end %>
		<% end %>
	</div>
