  <!--create loop for an array holding elements containing lines-->

  <h2 class="form-title">Lines available for editing</h2>
  <p id="notice"><%= notice %></p>
  <p>
    <%= link_to 'Back to Main', cast_index_path, :class => 'btn btn-primary', method: :get %>
  </p>

  <!--this is the view for showing all the contacts in the database-->
  <% if @texts.blank? %>
    <p>No lines to display.</p>
  <% else %>
    <%= paginate @texts %>

    <!--table showing all lines for the current script-->
    <table id="works" class='table'>
      <tr>
        <% %w{Sequence Character Type Text Visibility Notes Edit New}.each do |header_name| %>
          <th><%= header_name %></th>
        <% end %>
      </tr>

      <% @texts.each do |line| %>
          <% if line.sequence == @sequence.to_i %>
            <tr class="focus-here">
          <% else %>
            <tr>
          <% end %>
            <td><%= line.sequence %></td>
            <td><%= line.element_name %></td>
            <td><%= line.element_type %></td>
          <%if line.element_type == 'BLANKLINE'%>
            <td></td>
          <%else%>
            <td><%= line.content_text %></td>
          <%end%>
          <td>
            <% if line.visibility %>
              <span class='glyphicon visi visiTr glyphicon-eye-open' data-id="<%= line.id %>"></span>
            <% else %>
              <span class='glyphicon visi visiTr glyphicon-eye-close' data-id='<%= line.id %>'></span>
            <% end %>
          </td>
          <td><%= line.operator_note %></td>
          <!--link to edit specific this line-->
          <td><%= link_to 'EDIT', edit_work_text_path(work_id: line.work_id, id: line.id, page: params[:page], format: :js), :class => 'link-edit', :remote => true %></td>
          <td><%= link_to 'NEW', new_work_text_path(work_id: line.work_id, id: line.id, page: params[:page], format: :js), :class => 'link-edit', :remote => true %></td>
        </tr>
      <% end %>
    </table>
    <%= paginate @texts %>
  <% end %>

  <div id="edit_modal" class="modal fade">
  </div>
  <div id="new_modal" class="modal fade">
  </div>
